@page "/admin/category"
@layout AdminLayout
@inject ICategoryService service
@inherits BaseParent<Category>

<div class="container-fluid p-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="fw-bold">Quản lý Loại sản phẩm</h3>
    </div>

    <CategorySearch @bind-KeyWord ="@keyword"
                    OnSearch="LoadPageAsync"/>

    <div class="card shadow-sm">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered align-middle">
                    <thead class="table-light thead-separator">
                        <tr class="text-center">
                            <th style="width:100px;">ID</th>
                            <th>Loại sản phẩm</th>
                            <th style="width:150px;">Hành động</th>
                        </tr>
                    </thead>
                    <tbody id="categoryTableBody">

                        @if (listResult != null && listResult.Any())
                        {
                            foreach (var item in listResult)
                            {
                                <tr class="text-center" data-id="@item.CategoryId">
                                    <td>@($"LSP{item.CategoryId}")</td>
                                    <td class="category-name">@item.CategoryName</td>
                                    <td>
                                        <button class="btn btn-sm btn-light border me-1 btn-edit"
                                                title="Sửa"
                                                data-bs-toggle="modal"
                                                data-bs-target="#categoryModal"
                                                @onclick="()=>OpenEditForm(item)">
                                            <i class="bi bi-pencil text-success"></i>
                                        </button>
                                        <button class="btn btn-sm btn-light border btn-delete"
                                                title="Xóa"
                                                @onclick="() => HandleDeleteAsync(item)">
                                            <i class="bi bi-trash text-danger"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" class="text-center">Chưa có dữ liệu</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <Pagination CurrentPage="@CurrentPage"
                        TotalPages="@TotalPages"
                        OnPageChange="LoadPageAsync" />
        </div>
    </div>
</div>

<CategoryForm Model ="@SelectedItem"
                IsEditMode = "@IsEditMode"
               OnSave="HandleSaveAsync"
                OnClose="CloseForm"/>
@code {
    // ==== VARIABLES ====
    private List<Category> listResult = new();
    private ServiceResult serviceResult = new();
    private string keyword = string.Empty;

    // ==== LOAD DATA ====
    protected override async Task OnInitializedAsync()
    {
        await LoadPageAsync(1);
    }

    protected override async Task LoadPageAsync(int page)
    {
        PageResult<Category> result = new();
        if(keyword == string.Empty)
        {
            result = await service.GetAllCategoryAsync(page);
        }
        else
        {
            result = await service.SearchByNameAsync(keyword, page);
        }

        listResult = result.Items;
        CurrentPage = page;
        TotalPages = result.TotalPages;
    }

    // ==== OPEN FORM ====
    private void OpenEditForm(Category item)
    {
        IsEditMode = true;
        SelectedItem = item;
    }

    // === SAVE DATA ====
    private async Task HandleSaveAsync(Category model)
    {
        if (IsEditMode)
        {
            serviceResult = await service.UpdateAsync(model);
        }
        else
        {
            serviceResult = await service.CreateAsync(model);
        }
        await ShowAlertAsync(serviceResult);
        await LoadPageAsync(CurrentPage);
    }

    // ==== DELETE ====
    private async Task HandleDeleteAsync(Category model)
    {
        if (!await ConfirmDeleteAsync()) return;
        
        serviceResult = await service.DeleteAsync(model);
        await ShowAlertAsync(serviceResult);

        await LoadPageAsync(CurrentPage);
    }
}
